* {
	margin: 0;
	padding: 0;
}

main {
	color: black;
}

article {
	margin-top: 1.25em;

}

/*width: 100%; /*100% of the article's (wrapper) width; will adjust with article*/

.post {
	/*background-image: url(https://s-media-cache-ak0.pinimg.com/736x/02/90/d0/0290d0a3a5bc4b438765397d4d6cd4ad.jpg );*/
<<<<<<< HEAD
	background-image: url(../img/dinoDonutBG_Invert.jpg);
);
	padding: 1.25em;
	margin-bottom: 1.25em;
=======
	background-image: url(https://s-media-cache-ak0.pinimg.com/564x/d0/5a/2b/d05a2b28240b46468b90a0d88345aec9.jpg);
	padding: 20px;
	margin-bottom: 30px;
>>>>>>> origin/master
	text-align: center;
}

.post h2 {
	font-family: 'Bangers', 'Arial', sans-serif;
	letter-spacing: 0.15em;
	font-size: 2rem;
	display: inline-block;
	margin: 0.5em auto;
	padding: 0.25em 0.5em;
	background-color: #EF4B6D;
	color:#FFF ;
}

.post p {
	padding:1em;
	margin-bottom: 1em;
	text-align: left;
	/*background-color: white;*/
}

@media only screen and (max-width: 48em) {
	.post {
		padding: 0;
	}
}

/*last paragraph remove margin at bottom*/
.post p:last-child {
	margin-bottom: 0;
}
/*
.post img {
width: 100%;
}
*/
time {
	/*background-color: white;*/
	display: block;
}

.blog-bg {
	background-color: white;
}