* {
	margin: 0;
	padding: 0;
}

main {
	color: #FFF
}

article {
	margin-left: 50px;
	margin-right: 50px;
}

/*width: 100%; /*100% of the article's (wrapper) width; will adjust with article*/

.post {
	background-color: black;
	padding: 20px;
	margin-bottom: 20px;
}

.post p {
	margin-bottom: 15px;
}

/*last paragraph remove margin at bottom*/
.post p:last-child {
	margin-bottom: 0;
}

.post img {
	width: 100%;
}