/*********************************

  Grid structure for site

*********************************/

*, *::after, *::before {
  box-sizing: border-box;
}

.row::after {
	clear: both;
  display: block;
  content: "";
}

div.wrapper {
  width: 100%;
}

[class*="col-"] {
	float: left;
  /*text-align: center;*/
  padding: 0;
}

.col-m1 {width: 8.33%;}
.col-m2 {width: 16.66%;}
.col-m3 {width: 25%;}
.col-m4 {width: 33.33%;}
.col-m5 {width: 41.66%;}
.col-m6 {width: 50%;}
.col-m7 {width: 58.33%;}
.col-m8 {width: 66.66%;}
.col-m9 {width: 75%;}
.col-m10 {width: 83.33%;}
.col-m11 {width: 91.66%;}
.col-m12 {width: 100%;}

.padding {
  padding: 32px; padding: 2rem;
}

.padding > * {
  padding: 16px; padding: 1rem;
}

@media (max-width: 35em) {

  .col-m2 {
    width: 50%;
  }

  .col-m6 {
    width: 100%;
  }

}

@media (max-width: 48em) {
  .padding > * {
    padding: 0;
  }

  .col-m2 {
    width: 50%;
  }

  .col-m3 {
    width: 50%;
  }

  .col-m4 {
    width: 100%;
  }

  .col-m8 {
    width: 100%;
  }


  .no-resize .col-m4 {
    width: 33.33%;
  }

  .clear-box {
    width: 0;
  }
}

/** Very large screens **/
@media only screen and (min-width: 70em) {

  /** Constrain the contents to the middle **/
  div.wrapper {
    /*position: relative;*/
    width: 1120px; width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 100em) {

  /** Switch to a layout that would resize with the screen  **/
/*div.wrapper {
    width: 70%;
    font-size: 120%;
    margin-left: 15%;
    margin-right: 15%;*/
  }
}
