/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

/* Link to fonts used from Google Fonts https://www.google.com/fonts#UsePlace:use/Collection:Didact+Gothic|Bangers|Permanent+Marker */

body {
  font-family: 'Didact Gothic', 'Verdana', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.15rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 1px solid #DDD;
}

.section-head {
  text-align: center;

}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

section {
  clear: left;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

[class^='button'], button {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.15em 0.75em;
  margin: 0.5em 0.5em 0.5em 0;
  color: #FFF;
  border: none;
  background-color: #EF4B6D;
  border-radius: 0.5em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

[class^='button']:hover, [class^='button']:focus, button:hover, button:focus {
  background-color: #79C9AD;
  color:#FFF;
  border-color: #79C9AD;
}

.button-inverse {
  color:#EF4B6D;
  background-color: #fff;
  border: 0.1em solid #EF4B6D;
}

.button-teal {
    background-color: #79C9AD;
}

.button-teal-inverse {
  background-color: #fff;
  color: #79C9AD;
  border: 0.1em solid #79C9AD;
}

.button-teal:hover, .button-teal-inverse:hover {
  background-color:  #EF4B6D;
  color:  #EF4B6D;
  border-color:  #EF4B6D;
}

/* Styling for the button with span and arrow pops out */
.button-nav span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-nav span:after {
  content:'>>';
  position: relative;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button-nav:hover span {
  padding-right: 8px;
}

.button-nav:hover span:after {
  opacity: 1;
  right: 0;
}

/* Styleing for links inside text */
a {
  color: #EF4B6D;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  text-decoration: none;
  border-bottom: 1px solid;
  padding: 0.1em;
}

a:hover, a:focus {
  color: #79C9AD;
}

/* STYLING FOR FILL FORM */
form {
  font-size: 1.75em;
  color: #FFF;
  background-color: #333;
  padding: 1em;
}

form label {
  display: block;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
  letter-spacing: 0.25em;
}

input, textarea, select {
  display: block;
  font-family: 'Didact Gothic', 'Verdana', sans-serif;
  font-size: 1.25rem;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 1em;
  color: #EF4B6D;
}

/*
  TEXT ELEMENTS -------------------
*/

p {
  font-family: 'Didact Gothic', 'Verdana', sans-serif;
  line-height:2em;
}

ul, ol {
  margin: 1em;
  padding: 0;
}

ul li, ol li {
  margin: 1em 0;
}

/*
  COMBINED ELEMENTS -------------------
*/

/* GRID */

#grid [class^='col-'] {
  border: 1px solid #FFF;
  background-color: #DDD;
  vertical-align: middle;
  height: 5rem;
  padding: 1em;
}

#grid .row {
  margin: 0.5em 0;
}


/* STYLING FOR GALLERY */
img {
  width: 100%;
  height: auto;
}

.img {
  border: 0.25em solid #EF4B6D;
  display: inline-block;
  border-radius: 1em;
  overflow: hidden;
}

.img:hover {
  border-color: #79C9AD;

}

.img a {
  border: none;
}

.img img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 0.5em;
  text-align: center;
  font-family: "Bangers", "Lucida Console", monospace;
  font-size: 1.5rem;
  background-color: white;
}

h1 {
  font-family: 'Bangers', 'Arial', sans-serif;
  letter-spacing: 0.15em;
  font-size: 2rem;
  display: inline-block;
  margin: 0.5em auto;
  padding: 0.25em 0.5em;
  background-color: #EF4B6D;
  color:#FFF ;
}

.section-head {
  font-family: 'Bangers', 'Arial', sans-serif;
  letter-spacing: 0.15em;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0.5em auto;
  vertical-align: center;
  padding: 0.25em 0.5em;
  background-color: #79C9AD;
  color: #FFF;
}

h2 {
  color: #EF4B6D;
  margin: 1em 0;
}


h3 {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

table {
  margin: 1.5rem 0;
}

table tr th {
  background-color: #CCC;
  padding: 1rem;
  color: #FFF;
}

table tr td {
  vertical-align: middle;
  padding: 1rem;
  border: 1px solid #CCC;
  margin: 0;
}

footer {
  background-color: #333;
  font-size: 1rem;
  padding: 1em;
  margin: 2rem 0 0 0;
}

footer a {
  color: #FFF;
  border: none;
}

footer ul {
  list-style: none;
}

/*** Shop ***/

div.header {
  display: block;
  width: 100%;
  position: relative;
}

.header h1 {
}

.search-options {
  position: absolute;
  width: 40%;
}

.search-options select {
  margin: 1em;
}

@media (max-width: 555px) {
  .search-options {
    position: absolute;
    width: 100%;
  }

}

.product {
  padding: 1em;
}

.product a {
  border: none;
}

.product img {
  padding: 5em;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.235em;
}

@media only screen and (min-width: 555px) {
  .search-options {
    position: relative;
  }

}

p.subtitle {
  margin: 0;
}


/** CSS speech bubble from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ **/

.bubble {
  position:relative;
  padding:1em;
  margin:1em 0 3em;
  color:#000;
  background-color: #FFF;
  /**border: 1px solid #AAA;**/
  -webkit-border-radius:0.75em;
  -moz-border-radius:0.75em;
  border-radius:0.75em;
}

/* creates triangle */
.bubble:after {
  content:"";
  position:absolute;
  bottom:-0.9em; /* value = - border-top-width - border-bottom-width */
  left:46%; /* controls horizontal position */
  border-width:1em 1em 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#FFF transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/*** Homepage ***/

.announcement {
  background-image: url(http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0423/2766/rrpickle_pattern_repeat_shop_preview.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 5em 0;
  font-size: 1.5rem;
}

.announcement h2 {
  margin: 0;
}

.announcement h2 em {
  display: block;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  letter-spacing: 0.25em;
  color: #c9c96e;
}

.announcement p {
  color: #FFF;
}

.overlay-box {
  background-color: rgba(5,5,5,0.7);
  padding: 0.5em;
}

.overlay-circle {
  background-color: rgba(5,5,5,0.7);
  padding: 3em;
  border-radius: 50%;
  width: auto;
  height: auto;
  text-align: center;
}


.announcement .overlay-circle {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .announcement .overlay-circle {
    padding: 1em 0;
    border-radius: 0;
    width: 100%;
    font-size: 1.2rem;
  }

  .announcement {
    padding: 3em 0;
  }
}


/*** Donut Item Post ***/

main {
  display: flex wrap;
}

div.description {
  position: relative;
}

[class*="tag"] {
  background: #AAA;
  display: inline-block;
  padding: 0 0.5em;
  position: absolute;
  top: 0;
  right: 0;
}

.product {
  position: relative;
}

.product-image {
  padding: 5em;
}

.description {
  padding: 1em;
}

p.price {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {


}

/** Review Box **/

.reviews {
  padding: 1em;
  background-color: #DDD;
}

div.quote {
  font-style: italic;
}

.quote p {
  margin-bottom: 1.5em;
}

label.name {
  font-style: normal;
  display: block;
  text-align: center;
}
