/*About*/
.About_Banner {
	/*background-color: #DDD;*/
	/*background-image: url(https://s-media-cache-ak0.pinimg.com/736x/02/90/d0/0290d0a3a5bc4b438765397d4d6cd4ad.jpg);*/
	background-image: url(https://s-media-cache-ak0.pinimg.com/564x/d0/5a/2b/d05a2b28240b46468b90a0d88345aec9.jpg);
	text-align: center;
}

.About_List {
	list-style: none;
}

.About_List h3 {
	display: inline-block;
 	margin: 0.5em auto;
  	padding: 0.25em 0.5em;
	background-color: white;
}

/*Contact*/
iframe {
	overflow: hidden;
	width: 100%;
	height: 300px;
}

.map-address {
	text-align: center;
}

/*Billing*/
.bill-head {
	color: #EF4B6D;
	text-align: center;
	font-size: 0.75em;
}
